body{
    font-family: "Plus Jakarta Sans", sans-serif  !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f9ff !important;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #f5f9ff;
}

.fa-compass{
    color: #60a5fa;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    vertical-align: middle;
    height: 8rem;
    background-color: #f5f9ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    background-color: transparent !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #f5f9ff;
} 

/* New Page */
.add-btn{
    background-color: #4f9cf9 !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #4f9cf9 !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
    height: 400px;
    width: 80vh;
}